body {
    margin: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px;
    color: #E5E7EB;
    
}

.links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.first-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero-text,
.first-section-image {
    max-width: 35%; /* may need to change for image */
    /* border: 1px solid red; */
}

.first-section-image {
    background-color: gray;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 15px; */
}

.hero-text-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-main {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    
}

.second-section-image-and-text {
    margin: 16px;
    text-align: center;
    max-width: 150px;

}

.second-section-image {
    border: 2px solid #3882F6;
    border-radius: 15px;
    min-height: 150px;
    min-width: 150px;

}

.third-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: lightgray;
}

.quote,
.quote-source {
    display: flex;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-top: 36px;
}

.quote-source {
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 36px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section-main {
    background-color: #3882F6;
    max-width: 60%;
    margin: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 16px 32px;
    gap: 32px;
    color: #E5E7EB;
}

.fourth-section-text-box {
    max-width: 60%;
    padding: 16px 32px;
}

.fourth-section-bold {
    font-size: 24px;
    font-weight: bold;
}

.fourth-section-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 4px 16px;
    border: 2px solid #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}
